*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.content__list {
  max-height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Oswald", sans-serif;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}
.content__video-card-description-container {
  flex: 1;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
  margin: 2px;
  display: block;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}
.content__card-link_current:focus {
  outline: none;
}
.content__card-link:focus {
  outline: none;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.search-form__fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.search-form__fieldset:focus {
  outline: none;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}
.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-left: 7px;
}
.search-form__textfield {
  appearance: none;
  width: 235px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline-offset: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list > .search-form__label:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  text-underline-position: under;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  display: flex;
  min-height: 34px;
  padding: 6px 74px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.button:focus {
  outline: none;
}
.button:active {
  background-color: #545050;
}

.button:hover {
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: auto;
  align-self: flex-end;
}
.more-button {
  display: block;
  width: 100%;
  text-align: center;
}
